body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

video#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;
  height: 45%;
  object-fit: contain;
  z-index: -1;
}

#main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.nineties {
    max-width: 100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer{
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2, h3, h4 {
  color: white;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 6rem;
  margin-top: 30vh;
}

h2 { font-size: 3rem; }

