
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1, h2 {
  color: white;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 6rem;
  margin-top: 30vh;
}

h2 { font-size: 3rem; }

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://www.dropbox.com/s/slo4r2qkffdr08m/7T_sag.png?dl=0") no-repeat;
      background-size: cover;
    }
}

